/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.dateLabel {
    color:black;
    font-size: 22px;
    padding: 4px 20px 5px 20px;
    text-align: left;
}
body {
    background-color: rgba(128, 0, 0, .25);
}
.actualDate {
    color:crimson;
    font-size: 18px;
    padding: 11px 2px 5px 2px;
    text-align: left;
}
.greeting  {
    color: black;
    font-size: 30px;
    padding: 5px 0 5px 0;
    text-align: center;
    border: solid;
    border-left-width: 400px;
    border-right-width: 400px;
    height: 40px;
    width: auto;
}
.newsLabel {
    text-align: center;
    font-size: 34px;
    position: relative;
    bottom: 100px;
}
.newsData > a:nth-of-type(3){
  float: left;
  margin: 0 1.5%;
  width: 30%;
  font-size: 18px;
  position: relative;
  bottom: 100px;
  margin-right: 0;
}
.newsData > a:nth-of-type(2){
  float: left;
  margin: 0 1.5%;
  width: 30%;
  font-size: 18px;
  position: relative;
  bottom: 100px;
}
.newsData > a:nth-of-type(1){
  float: left;
  margin: 0 1.5%;
  width: 30%;
  font-size: 18px;
  position: relative;
  bottom: 100px;
}
.worldNewsLabel {
    text-align: center;
    font-size: 34px;
    padding: 110px 0 10px 0;
    position: relative;
    bottom: 138px
}

.worldNewsData > a:nth-of-type(3){
  float: left;
  margin: 0 1.5%;
  width: 30%;
  font-size: 18px;
  margin-right: 0;
  position: relative;
  bottom: 138px;
}
.worldNewsData > a:nth-of-type(2){
  float: left;
  margin: 0 1.5%;
  width: 30%;
  font-size: 18px;
  position: relative;
  bottom: 138px;
}
.worldNewsData > a:nth-of-type(1){
  float: left;
  margin: 0 1.5%;
  width: 30%;
  font-size: 18px;
  position: relative;
  bottom: 138px;
}

.hhhData p {
    color: darkolivegreen;
    position: relative;
    width: 250px;
}
.hhhdata p:nth-of-type(1){
    bottom: 295px;
    left: 1010px;
    word-wrap: break-word
}
.hhhData p:nth-of-type(2){
    bottom: 295px;
    left: 1010px;
    word-wrap: break-word
}
.hhhData p:nth-of-type(3){
    bottom: 295px;
    left: 1010px;
    word-wrap: break-word
}
.hhhLabel {
    color: blue;
    position: relative;
    bottom: 300px;
    left: 1010px;
    width: 250px;
    word-wrap: break-word
}
.weather img{
    max-width: 80%;
    width: 400px;
    float: inherit;
}
html, body {
    max-width: 100%;
}
.xkcd {
    position: relative;
    left: 450px;
    bottom: 250px;
    width: 390px;
    font-size: 24px;
}
.feeArticle {
    position: relative;
    left: 450px;
    bottom: 240px;
    width: 350px;
    font-size: 24px;
}
